image: Ubuntu

stack: jdk 11

branches:
  only:
    - master

build: off

install:
  - java -jar ÑŽartifacts/app-card-delivery.jar &
  - chmod +x gradlew

build_script:
  - ./gradlew test -Dselenide.headless=true --info